@import "tailwindcss";

@layer base {
	:root {
		--hero-img: url("/public/assets/img/hero.png");
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: "Frank Ruhl Libre", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
	}
}

@theme {
  --font-sans: "Frank Ruhl Libre", serif;
}
